{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="checkout_note">
  <ly-as-17006476>請注意，所有訂單都將從我們的香港倉庫發貨，並且您所在的國家/地區可能會收取您在交貨前必須支付的進口關稅，稅金和費用。</ly-as-17006476>
</div>
<style>
  .checkout_note {
  margin-top: 25px;}
</style>