
<svg width="264" height="264" viewBox="0 0 264 264" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 60.5V7H62.5" stroke="black" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M258.5 203L258.5 256.5L201 256.5" stroke="black" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M205 5L258.5 5L258.5 62.5" stroke="black" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M58.5 258.5L5 258.5L5.00001 201" stroke="black" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

<div class="zoom-qr-code">
<svg width="201" height="201" viewBox="0 0 201 201" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g clip-path="url(#clip01)">
<path d="M77.7157 0H81.7036C82.5061 0 83.1869 0.656545 83.1869 1.4833V5.47121C83.1869 6.27365 82.5304 6.95451 81.7036 6.95451H77.7157C76.9133 6.95451 76.2324 6.29797 76.2324 5.47121V1.4833C76.2324 0.656545 76.889 0 77.7157 0Z" fill="black"/>
<path d="M103.954 5.47121V1.4833C103.954 0.680861 103.297 0 102.47 0H98.4823C97.6799 0 96.999 0.656545 96.999 1.4833V6.93019H103.929V5.47121H103.954Z" fill="black"/>
<path d="M124.744 5.47121V1.4833C124.744 0.656545 124.087 0 123.285 0H119.297C118.494 0 117.813 0.656545 117.813 1.4833V6.93019H124.744V5.47121Z" fill="black"/>
<path d="M126.226 6.92862C125.424 6.92862 124.743 6.27207 124.743 5.44531V6.92862H126.226Z" fill="black"/>
<path d="M56.9247 6.92969C56.1223 6.92969 55.4414 7.58623 55.4414 8.41299V13.8599H62.3716V6.92969H56.9247Z" fill="black"/>
<path d="M67.8434 6.92969C68.6458 6.92969 69.3267 7.58623 69.3267 8.41299V13.8599H62.3965V6.92969H67.8434Z" fill="black"/>
<path d="M70.7851 13.8583C69.9826 13.8583 69.3018 13.2018 69.3018 12.375V13.8583H70.7851Z" fill="black"/>
<path d="M84.6464 6.92969H88.6343C89.4367 6.92969 90.1176 7.58623 90.1176 8.41299V12.4009C90.1176 13.2033 89.4611 13.8842 88.6343 13.8842H84.6464C83.8439 13.8842 83.1631 13.2277 83.1631 12.4009V8.41299C83.1631 7.58623 83.8196 6.92969 84.6464 6.92969Z" fill="black"/>
<path d="M103.953 6.92969H97.0225V13.8599H103.953V6.92969Z" fill="black"/>
<path d="M105.436 13.8583C104.634 13.8583 103.953 13.2018 103.953 12.375V13.8583H105.436Z" fill="black"/>
<path d="M116.354 13.8583C117.157 13.8583 117.838 13.2018 117.838 12.375V13.8583H116.354Z" fill="black"/>
<path d="M124.744 6.92969H117.813V13.8599H124.744V6.92969Z" fill="black"/>
<path d="M131.673 6.92969H124.743V13.8599H131.673V6.92969Z" fill="black"/>
<path d="M137.145 6.92969C137.948 6.92969 138.628 7.58623 138.628 8.41299V13.8599H131.698V6.92969H137.145Z" fill="black"/>
<path d="M62.3716 13.8594H55.4414V20.7896H62.3716V13.8594Z" fill="black"/>
<path d="M69.3023 13.8594H62.3721V20.7896H69.3023V13.8594Z" fill="black"/>
<path d="M76.232 13.8594H69.3018V20.7896H76.232V13.8594Z" fill="black"/>
<path d="M77.7148 20.7896H81.7027C82.5052 20.7896 83.186 20.133 83.186 19.3063V15.3427C83.186 14.5402 82.5295 13.8594 81.7027 13.8594H76.2559V20.7896H77.7148Z" fill="black"/>
<path d="M95.5635 20.788C96.3659 20.788 97.0468 20.1314 97.0468 19.3047V20.788H95.5635Z" fill="black"/>
<path d="M103.953 13.8594H97.0225V20.7896H103.953V13.8594Z" fill="black"/>
<path d="M110.883 13.8594H103.953V20.7896H110.883V13.8594Z" fill="black"/>
<path d="M117.813 13.8594H110.883V20.7896H117.813V13.8594Z" fill="black"/>
<path d="M124.744 13.8594H117.813V20.7896H124.744V13.8594Z" fill="black"/>
<path d="M126.226 13.8594H124.743V15.3427C124.743 14.5159 125.4 13.8594 126.226 13.8594Z" fill="black"/>
<path d="M131.674 15.3427V13.8594H130.19C131.017 13.8594 131.674 14.5159 131.674 15.3427Z" fill="black"/>
<path d="M131.674 19.3306C131.674 20.133 132.33 20.8139 133.157 20.8139H137.145C137.947 20.8139 138.628 20.1573 138.628 19.3306V13.8594H131.698V19.3306H131.674Z" fill="black"/>
<path d="M62.3716 20.793H55.4414V27.7232H62.3716V20.793Z" fill="black"/>
<path d="M69.3023 20.793H62.3721V27.7232H69.3023V20.793Z" fill="black"/>
<path d="M76.232 26.2642C76.232 27.0666 75.5754 27.7475 74.7486 27.7475H69.3018V20.793H76.232V26.2642Z" fill="black"/>
<path d="M77.7157 20.793H76.2324V22.2763C76.2324 21.4495 76.889 20.793 77.7157 20.793Z" fill="black"/>
<path d="M81.7031 27.7177C82.5056 27.7177 83.1864 27.0611 83.1864 26.2344V27.7177H81.7031Z" fill="black"/>
<path d="M84.6464 20.793C83.8439 20.793 83.1631 21.4495 83.1631 22.2763V27.7232H90.0933V20.793H84.6464Z" fill="black"/>
<path d="M97.022 20.793H90.0918V27.7232H97.022V20.793Z" fill="black"/>
<path d="M103.953 20.793H97.0225V27.7232H103.953V20.793Z" fill="black"/>
<path d="M105.436 20.793H103.953V22.2763C103.953 21.4495 104.61 20.793 105.436 20.793Z" fill="black"/>
<path d="M117.813 22.2763V20.793H116.33C117.157 20.793 117.813 21.4495 117.813 22.2763Z" fill="black"/>
<path d="M116.354 27.7177C117.157 27.7177 117.838 27.0611 117.838 26.2344V27.7177H116.354Z" fill="black"/>
<path d="M124.744 20.793H117.813V27.7232H124.744V20.793Z" fill="black"/>
<path d="M126.226 27.7177C125.424 27.7177 124.743 27.0611 124.743 26.2344V27.7177H126.226Z" fill="black"/>
<path d="M137.145 27.7177C137.947 27.7177 138.628 27.0611 138.628 26.2344V27.7177H137.145Z" fill="black"/>
<path d="M145.534 26.2642V22.2763C145.534 21.4738 144.877 20.793 144.05 20.793H140.063C139.26 20.793 138.604 21.4495 138.604 22.2763V27.7232H145.534V26.2642Z" fill="black"/>
<path d="M62.3716 27.7227H55.4414V34.6528H62.3716V27.7227Z" fill="black"/>
<path d="M69.3023 33.1939C69.3023 33.9963 68.6457 34.6772 67.819 34.6772H62.3721V27.7227H69.3023V33.1939Z" fill="black"/>
<path d="M70.7851 27.7227H69.3018V29.206C69.3018 28.3792 69.9583 27.7227 70.7851 27.7227Z" fill="black"/>
<path d="M81.7036 27.7227H77.7157C76.9133 27.7227 76.2324 28.3792 76.2324 29.206V33.1939C76.2324 33.9963 76.889 34.6772 77.7157 34.6772H83.1626V27.7227H81.7036Z" fill="black"/>
<path d="M90.0933 27.7227H83.1631V34.6528H90.0933V27.7227Z" fill="black"/>
<path d="M97.022 27.7227H90.0918V34.6528H97.022V27.7227Z" fill="black"/>
<path d="M103.953 27.7227H97.0225V34.6528H103.953V27.7227Z" fill="black"/>
<path d="M116.354 27.7227H112.366C111.564 27.7227 110.883 28.3792 110.883 29.206V33.1939C110.883 33.9963 111.539 34.6772 112.366 34.6772H117.813V27.7227H116.354Z" fill="black"/>
<path d="M124.744 27.7227H117.813V34.6528H124.744V27.7227Z" fill="black"/>
<path d="M131.673 27.7227H124.743V34.6528H131.673V27.7227Z" fill="black"/>
<path d="M138.604 27.7227H131.674V34.6528H138.604V27.7227Z" fill="black"/>
<path d="M145.534 27.7227H138.604V34.6528H145.534V27.7227Z" fill="black"/>
<path d="M62.3716 34.6523H55.4414V41.5825H62.3716V34.6523Z" fill="black"/>
<path d="M63.8554 34.6523H62.3721V36.1357C62.3721 35.3089 63.0286 34.6523 63.8554 34.6523Z" fill="black"/>
<path d="M90.0927 36.1357V34.6523H88.6094C89.4361 34.6523 90.0927 35.3089 90.0927 36.1357Z" fill="black"/>
<path d="M90.0918 40.1227C90.0918 40.9251 90.7483 41.606 91.5751 41.606H97.022V34.6758H90.0918V40.1227Z" fill="black"/>
<path d="M103.953 34.6523H97.0225V41.5825H103.953V34.6523Z" fill="black"/>
<path d="M138.604 36.1357V34.6523H137.145C137.947 34.6523 138.604 35.3089 138.604 36.1357Z" fill="black"/>
<path d="M145.534 34.6523H138.604V41.5825H145.534V34.6523Z" fill="black"/>
<path d="M55.4414 47.0532C55.4414 47.8557 56.098 48.5365 56.9247 48.5365H60.9126C61.7151 48.5365 62.3959 47.88 62.3959 47.0532V41.582H55.4414V47.0532Z" fill="black"/>
<path d="M70.7851 41.582H74.773C75.5754 41.582 76.2563 42.2386 76.2563 43.0653V47.0532C76.2563 47.8557 75.5997 48.5365 74.773 48.5365H70.7851C69.9826 48.5365 69.3018 47.88 69.3018 47.0532V43.0653C69.3018 42.2386 69.9583 41.582 70.7851 41.582Z" fill="black"/>
<path d="M90.0922 47.0532V43.0653C90.0922 42.2629 89.4357 41.582 88.6089 41.582H84.621C83.8186 41.582 83.1377 42.2386 83.1377 43.0653V48.5122H90.0679V47.0532H90.0922Z" fill="black"/>
<path d="M97.0225 43.0653V41.582H95.5635C96.3659 41.582 97.0225 42.2386 97.0225 43.0653Z" fill="black"/>
<path d="M103.953 41.582H97.0225V48.5122H103.953V41.582Z" fill="black"/>
<path d="M117.813 47.0532V43.0653C117.813 42.2629 117.156 41.582 116.33 41.582H112.342C111.539 41.582 110.858 42.2386 110.858 43.0653V48.5122H117.789V47.0532H117.813Z" fill="black"/>
<path d="M126.226 41.582H130.214C131.017 41.582 131.698 42.2386 131.698 43.0653V47.0532C131.698 47.8557 131.041 48.5365 130.214 48.5365H126.226C125.424 48.5365 124.743 47.88 124.743 47.0532V43.0653C124.743 42.2386 125.4 41.582 126.226 41.582Z" fill="black"/>
<path d="M137.145 48.5107C137.947 48.5107 138.628 47.8541 138.628 47.0273V48.5107H137.145Z" fill="black"/>
<path d="M145.534 41.582H138.604V48.5122H145.534V41.582Z" fill="black"/>
<path d="M83.1631 53.982C83.1631 54.7845 83.8196 55.4654 84.6464 55.4654H88.6343C89.4367 55.4654 90.1176 54.8088 90.1176 53.982V48.5352H83.1631V53.982Z" fill="black"/>
<path d="M95.5635 55.4403C96.3659 55.4403 97.0468 54.7838 97.0468 53.957V55.4403H95.5635Z" fill="black"/>
<path d="M103.953 48.5117H97.0225V55.4419H103.953V48.5117Z" fill="black"/>
<path d="M110.883 53.982C110.883 54.7845 111.539 55.4654 112.366 55.4654H116.354C117.156 55.4654 117.837 54.8088 117.837 53.982V48.5352H110.883V53.982Z" fill="black"/>
<path d="M130.215 55.4403C131.017 55.4403 131.698 54.7838 131.698 53.957V55.4403H130.215Z" fill="black"/>
<path d="M133.157 48.5117C132.355 48.5117 131.674 49.1683 131.674 49.995V55.4419H138.604V48.5117H133.157Z" fill="black"/>
<path d="M145.534 53.982C145.534 54.7845 144.877 55.4654 144.05 55.4654H138.604V48.5352H145.534V53.982Z" fill="black"/>
<path d="M20.7905 60.9126V56.9247C20.7905 56.1223 20.134 55.4414 19.3072 55.4414H15.3437C14.5412 55.4414 13.8604 56.098 13.8604 56.9247V62.3716H20.7905V60.9126Z" fill="black"/>
<path d="M40.1226 55.4414H36.1347C35.3322 55.4414 34.6514 56.098 34.6514 56.9247V60.9126C34.6514 61.7151 35.3079 62.3959 36.1347 62.3959H41.5816V55.4414H40.1226Z" fill="black"/>
<path d="M48.5113 55.4414H41.5811V62.3716H48.5113V55.4414Z" fill="black"/>
<path d="M55.4419 55.4414H48.5117V62.3716H55.4419V55.4414Z" fill="black"/>
<path d="M62.3716 55.4414H55.4414V62.3716H62.3716V55.4414Z" fill="black"/>
<path d="M63.8555 62.3686H67.8434C68.6458 62.3686 69.3267 61.712 69.3267 60.8853V56.8974C69.3267 56.0949 68.6701 55.4141 67.8434 55.4141H62.3965V62.3443H63.8555V62.3686Z" fill="black"/>
<path d="M95.563 55.4414H91.5751C90.7727 55.4414 90.0918 56.098 90.0918 56.9247V60.9126C90.0918 61.7151 90.7483 62.3959 91.5751 62.3959H97.022V55.4414H95.563Z" fill="black"/>
<path d="M103.953 60.9126C103.953 61.7151 103.296 62.3959 102.469 62.3959H97.0225V55.4414H103.953V60.9126Z" fill="black"/>
<path d="M123.285 55.4414H119.297C118.494 55.4414 117.813 56.098 117.813 56.9247V60.9126C117.813 61.7151 118.47 62.3959 119.297 62.3959H124.744V55.4414H123.285Z" fill="black"/>
<path d="M131.673 55.4414H124.743V62.3716H131.673V55.4414Z" fill="black"/>
<path d="M138.604 60.9126C138.604 61.7151 137.947 62.3959 137.121 62.3959H131.674V55.4414H138.604V60.9126Z" fill="black"/>
<path d="M140.087 55.4414H138.604V56.9247C138.604 56.098 139.26 55.4414 140.087 55.4414Z" fill="black"/>
<path d="M147.017 55.4414H151.005C151.808 55.4414 152.489 56.098 152.489 56.9247V60.9126C152.489 61.7151 151.832 62.3959 151.005 62.3959H147.017C146.215 62.3959 145.534 61.7394 145.534 60.9126V56.9247C145.534 56.098 146.191 55.4414 147.017 55.4414Z" fill="black"/>
<path d="M164.866 55.4414H160.878C160.075 55.4414 159.395 56.098 159.395 56.9247V60.9126C159.395 61.7151 160.051 62.3959 160.878 62.3959H166.325V55.4414H164.866Z" fill="black"/>
<path d="M173.254 55.4414H166.324V62.3716H173.254V55.4414Z" fill="black"/>
<path d="M180.185 55.4414H173.255V62.3716H180.185V55.4414Z" fill="black"/>
<path d="M187.116 55.4414H180.186V62.3716H187.116V55.4414Z" fill="black"/>
<path d="M188.599 62.3686H192.587C193.389 62.3686 194.07 61.712 194.07 60.8853V56.8974C194.07 56.0949 193.413 55.4141 192.587 55.4141H187.14V62.3443H188.599V62.3686Z" fill="black"/>
<path d="M20.7905 62.3711H13.8604V69.3013H20.7905V62.3711Z" fill="black"/>
<path d="M22.2733 69.3036C21.4709 69.3036 20.79 68.6471 20.79 67.8203V69.3036H22.2733Z" fill="black"/>
<path d="M29.204 62.3711H33.1919C33.9944 62.3711 34.6752 63.0276 34.6752 63.8544V67.8423C34.6752 68.6447 34.0187 69.3256 33.1919 69.3256H29.204C28.4016 69.3256 27.7207 68.6691 27.7207 67.8423V63.8544C27.7207 63.0276 28.3772 62.3711 29.204 62.3711Z" fill="black"/>
<path d="M145.535 67.8423V63.8544C145.535 63.052 144.878 62.3711 144.051 62.3711H140.063C139.261 62.3711 138.58 63.0276 138.58 63.8544V69.3013H145.51V67.8423H145.535Z" fill="black"/>
<path d="M159.394 67.8423V63.8544C159.394 63.052 158.737 62.3711 157.911 62.3711H153.923C153.12 62.3711 152.439 63.0276 152.439 63.8544V69.3013H159.37V67.8423H159.394Z" fill="black"/>
<path d="M160.878 69.3036C160.075 69.3036 159.395 68.6471 159.395 67.8203V69.3036H160.878Z" fill="black"/>
<path d="M200.976 67.8423V63.8544C200.976 63.052 200.319 62.3711 199.493 62.3711H195.505C194.702 62.3711 194.021 63.0276 194.021 63.8544V69.3013H200.952V67.8423H200.976Z" fill="black"/>
<path d="M13.8604 74.772C13.8604 75.5744 14.5169 76.2553 15.3437 76.2553H20.7905V69.3008H13.8604V74.772Z" fill="black"/>
<path d="M26.2612 69.3008C27.0637 69.3008 27.7446 69.9573 27.7446 70.7841V76.231H20.79V69.3008H26.2612Z" fill="black"/>
<path d="M29.204 76.2333C28.4016 76.2333 27.7207 75.5768 27.7207 74.75V76.2333H29.204Z" fill="black"/>
<path d="M43.0644 69.3008H47.0523C47.8547 69.3008 48.5356 69.9573 48.5356 70.7841V74.772C48.5356 75.5744 47.879 76.2553 47.0523 76.2553H43.0644C42.2619 76.2553 41.5811 75.5987 41.5811 74.772V70.7841C41.5811 69.9573 42.2376 69.3008 43.0644 69.3008Z" fill="black"/>
<path d="M62.3715 74.772V70.7841C62.3715 69.9816 61.715 69.3008 60.8882 69.3008H56.9003C56.0979 69.3008 55.417 69.9573 55.417 70.7841V76.231H62.3472V74.772H62.3715Z" fill="black"/>
<path d="M145.534 69.3008H138.604V76.231H145.534V69.3008Z" fill="black"/>
<path d="M151.006 76.2333C151.808 76.2333 152.489 75.5768 152.489 74.75V76.2333H151.006Z" fill="black"/>
<path d="M147.017 76.2333C146.215 76.2333 145.534 75.5768 145.534 74.75V76.2333H147.017Z" fill="black"/>
<path d="M159.395 69.3008H152.465V76.231H159.395V69.3008Z" fill="black"/>
<path d="M164.866 69.3008C165.668 69.3008 166.349 69.9573 166.349 70.7841V76.231H159.419V69.3008H164.866Z" fill="black"/>
<path d="M180.185 74.772V70.7841C180.185 69.9816 179.528 69.3008 178.702 69.3008H174.714C173.911 69.3008 173.23 69.9573 173.23 70.7841V76.231H180.161V74.772H180.185Z" fill="black"/>
<path d="M181.669 76.2333C180.866 76.2333 180.186 75.5768 180.186 74.75V76.2333H181.669Z" fill="black"/>
<path d="M194.045 74.772C194.045 75.5744 194.701 76.2553 195.528 76.2553H199.516C200.319 76.2553 200.999 75.5987 200.999 74.772V69.3008H194.045V74.772Z" fill="black"/>
<path d="M6.93019 81.7017V77.7138C6.93019 76.9113 6.27365 76.2305 5.44689 76.2305H1.4833C0.656545 76.2305 0 76.887 0 77.7138V83.1607H6.93019V81.7017Z" fill="black"/>
<path d="M20.791 77.7138V76.2305H19.332C20.1345 76.2305 20.791 76.887 20.791 77.7138Z" fill="black"/>
<path d="M20.79 81.7008C20.79 82.5032 21.4466 83.1841 22.2733 83.1841H27.7202V76.2539H20.79V81.7008Z" fill="black"/>
<path d="M34.6509 76.2305H27.7207V83.1607H34.6509V76.2305Z" fill="black"/>
<path d="M36.1338 83.1615H40.1217C40.9241 83.1615 41.605 82.505 41.605 81.6782V77.6903C41.605 76.8879 40.9485 76.207 40.1217 76.207H34.6748V83.1372H36.1338V83.1615Z" fill="black"/>
<path d="M62.3716 76.2305H55.4414V83.1607H62.3716V76.2305Z" fill="black"/>
<path d="M138.604 81.7008C138.604 82.5032 139.26 83.1841 140.087 83.1841H145.534V76.2539H138.604V81.7008Z" fill="black"/>
<path d="M152.464 76.2305H145.534V83.1607H152.464V76.2305Z" fill="black"/>
<path d="M159.395 76.2305H152.465V83.1607H159.395V76.2305Z" fill="black"/>
<path d="M166.325 76.2305H159.395V83.1607H166.325V76.2305Z" fill="black"/>
<path d="M171.796 83.163C172.598 83.163 173.279 82.5064 173.279 81.6797V83.163H171.796Z" fill="black"/>
<path d="M167.808 83.163C167.005 83.163 166.324 82.5064 166.324 81.6797V83.163H167.808Z" fill="black"/>
<path d="M180.185 76.2305H173.255V83.1607H180.185V76.2305Z" fill="black"/>
<path d="M187.116 76.2305H180.186V83.1607H187.116V76.2305Z" fill="black"/>
<path d="M192.587 76.2305C193.389 76.2305 194.07 76.887 194.07 77.7138V83.1607H187.14V76.2305H192.587Z" fill="black"/>
<path d="M195.528 83.163C194.726 83.163 194.045 82.5064 194.045 81.6797V83.163H195.528Z" fill="black"/>
<path d="M0 88.6314C0 89.4338 0.656545 90.1147 1.4833 90.1147H5.47121C6.27365 90.1147 6.95451 89.4581 6.95451 88.6314V83.1602H0V88.6314Z" fill="black"/>
<path d="M15.3437 83.1602H19.3316C20.134 83.1602 20.8149 83.8167 20.8149 84.6435V88.6314C20.8149 89.4338 20.1583 90.1147 19.3316 90.1147H15.3437C14.5412 90.1147 13.8604 89.4581 13.8604 88.6314V84.6435C13.8604 83.8167 14.5169 83.1602 15.3437 83.1602Z" fill="black"/>
<path d="M27.7207 84.6435V83.1602H26.2617C27.0642 83.1602 27.7207 83.8167 27.7207 84.6435Z" fill="black"/>
<path d="M27.7207 88.6314C27.7207 89.4338 28.3772 90.1147 29.204 90.1147H33.1919C33.9944 90.1147 34.6752 89.4581 34.6752 88.6314V83.1602H27.7207V88.6314Z" fill="black"/>
<path d="M36.1347 83.1602H34.6514V84.6435C34.6514 83.8167 35.3079 83.1602 36.1347 83.1602Z" fill="black"/>
<path d="M43.0644 83.1602H47.0523C47.8547 83.1602 48.5356 83.8167 48.5356 84.6435V88.6314C48.5356 89.4338 47.879 90.1147 47.0523 90.1147H43.0644C42.2619 90.1147 41.5811 89.4581 41.5811 88.6314V84.6435C41.5811 83.8167 42.2376 83.1602 43.0644 83.1602Z" fill="black"/>
<path d="M53.9824 90.0927C54.7849 90.0927 55.4657 89.4361 55.4657 88.6094V90.0927H53.9824Z" fill="black"/>
<path d="M62.3716 83.1602H55.4414V90.0904H62.3716V83.1602Z" fill="black"/>
<path d="M145.534 84.6435V83.1602H144.051C144.878 83.1602 145.534 83.8167 145.534 84.6435Z" fill="black"/>
<path d="M144.075 90.0927C144.878 90.0927 145.559 89.4361 145.559 88.6094V90.0927H144.075Z" fill="black"/>
<path d="M152.464 83.1602H145.534V90.0904H152.464V83.1602Z" fill="black"/>
<path d="M159.395 83.1602H152.465V90.0904H159.395V83.1602Z" fill="black"/>
<path d="M166.325 83.1602H159.395V90.0904H166.325V83.1602Z" fill="black"/>
<path d="M173.254 83.1602H166.324V90.0904H173.254V83.1602Z" fill="black"/>
<path d="M180.185 83.1602H173.255V90.0904H180.185V83.1602Z" fill="black"/>
<path d="M181.669 83.1602H180.186V84.6435C180.186 83.8167 180.842 83.1602 181.669 83.1602Z" fill="black"/>
<path d="M187.115 84.6435V83.1602H185.632C186.459 83.1602 187.115 83.8167 187.115 84.6435Z" fill="black"/>
<path d="M194.045 83.1602H187.115V90.0904H194.045V83.1602Z" fill="black"/>
<path d="M199.516 83.1602C200.319 83.1602 200.999 83.8167 200.999 84.6435V90.0904H194.045V83.1602H199.516Z" fill="black"/>
<path d="M19.332 97.0224C20.1345 97.0224 20.8153 96.3658 20.8153 95.5391V97.0224H19.332Z" fill="black"/>
<path d="M27.7202 95.565V91.5771C27.7202 90.7746 27.0637 90.0938 26.2369 90.0938H22.2733C21.4709 90.0938 20.79 90.7503 20.79 91.5771V97.024H27.7202V95.565Z" fill="black"/>
<path d="M53.9829 90.0938H49.995C49.1926 90.0938 48.5117 90.7503 48.5117 91.5771V95.565C48.5117 96.3674 49.1683 97.0483 49.995 97.0483H55.4419V90.1181H53.9829V90.0938Z" fill="black"/>
<path d="M62.3716 95.5641C62.3716 96.3665 61.7151 97.0474 60.8883 97.0474H55.4414V90.1172H62.3716V95.5641Z" fill="black"/>
<path d="M140.087 90.0938C139.284 90.0938 138.604 90.7503 138.604 91.5771V97.024H145.534V90.0938H140.087Z" fill="black"/>
<path d="M152.464 90.0938H145.534V97.024H152.464V90.0938Z" fill="black"/>
<path d="M159.395 90.0938H152.465V97.024H159.395V90.0938Z" fill="black"/>
<path d="M160.878 90.0938H159.395V91.5771C159.395 90.7503 160.051 90.0938 160.878 90.0938Z" fill="black"/>
<path d="M173.255 91.5771V90.0938H171.771C172.598 90.0938 173.255 90.7503 173.255 91.5771Z" fill="black"/>
<path d="M180.185 90.0938H173.255V97.024H180.185V90.0938Z" fill="black"/>
<path d="M187.115 95.5641C187.115 96.3665 187.772 97.0474 188.599 97.0474H194.045V90.1172H187.115V95.5641Z" fill="black"/>
<path d="M200.975 95.5641C200.975 96.3665 200.319 97.0474 199.492 97.0474H194.045V90.1172H200.975V95.5641Z" fill="black"/>
<path d="M5.47121 97.0234H1.4833C0.656545 97.0234 0 97.68 0 98.5067V102.495C0 103.297 0.656545 103.978 1.4833 103.978H6.93019V97.0234H5.47121Z" fill="black"/>
<path d="M13.8609 97.0234H6.93066V103.954H13.8609V97.0234Z" fill="black"/>
<path d="M20.7905 97.0234H13.8604V103.954H20.7905V97.0234Z" fill="black"/>
<path d="M27.7202 97.0234H20.79V103.954H27.7202V97.0234Z" fill="black"/>
<path d="M33.1914 103.952C33.9939 103.952 34.6747 103.296 34.6747 102.469V103.952H33.1914Z" fill="black"/>
<path d="M29.204 103.952C28.4016 103.952 27.7207 103.296 27.7207 102.469V103.952H29.204Z" fill="black"/>
<path d="M36.1347 97.0234C35.3322 97.0234 34.6514 97.68 34.6514 98.5067V103.954H41.5816V97.0234H36.1347Z" fill="black"/>
<path d="M43.0644 103.955H47.0523C47.8547 103.955 48.5356 103.298 48.5356 102.471V98.4833C48.5356 97.6809 47.879 97 47.0523 97H41.5811V103.93H43.0644V103.955Z" fill="black"/>
<path d="M138.604 102.495C138.604 103.297 139.26 103.978 140.087 103.978H144.075C144.877 103.978 145.558 103.321 145.558 102.495V97.0234H138.604V102.495Z" fill="black"/>
<path d="M147.017 97.0234H145.534V98.5067C145.534 97.68 146.191 97.0234 147.017 97.0234Z" fill="black"/>
<path d="M152.465 98.5067V97.0234H151.006C151.808 97.0234 152.465 97.68 152.465 98.5067Z" fill="black"/>
<path d="M159.395 97.0234H152.465V103.954H159.395V97.0234Z" fill="black"/>
<path d="M160.878 103.952C160.075 103.952 159.395 103.296 159.395 102.469V103.952H160.878Z" fill="black"/>
<path d="M173.255 102.495C173.255 103.297 173.911 103.978 174.738 103.978H178.726C179.529 103.978 180.209 103.321 180.209 102.495V97.0234H173.279V102.495H173.255Z" fill="black"/>
<path d="M6.93067 105.436V103.953H5.47168C6.27412 103.953 6.93067 104.61 6.93067 105.436Z" fill="black"/>
<path d="M6.93066 109.423C6.93066 110.226 7.58721 110.907 8.41397 110.907H13.8609V103.977H6.93066V109.423Z" fill="black"/>
<path d="M20.7905 103.953H13.8604V110.883H20.7905V103.953Z" fill="black"/>
<path d="M27.7202 103.953H20.79V110.883H27.7202V103.953Z" fill="black"/>
<path d="M34.6509 103.953H27.7207V110.883H34.6509V103.953Z" fill="black"/>
<path d="M41.5816 109.423C41.5816 110.226 40.925 110.907 40.0983 110.907H34.6514V103.977H41.5816V109.423Z" fill="black"/>
<path d="M43.0644 103.953H41.5811V105.436C41.5811 104.61 42.2376 103.953 43.0644 103.953Z" fill="black"/>
<path d="M49.995 103.953H53.9829C54.7854 103.953 55.4662 104.61 55.4662 105.436V109.424C55.4662 110.227 54.8097 110.908 53.9829 110.908H49.995C49.1926 110.908 48.5117 110.251 48.5117 109.424V105.436C48.5117 104.61 49.1683 103.953 49.995 103.953Z" fill="black"/>
<path d="M151.006 110.882C151.808 110.882 152.489 110.225 152.489 109.398V110.882H151.006Z" fill="black"/>
<path d="M159.395 103.953H152.465V110.883H159.395V103.953Z" fill="black"/>
<path d="M160.878 110.884H164.866C165.668 110.884 166.349 110.228 166.349 109.401V105.413C166.349 104.611 165.693 103.93 164.866 103.93H159.419V110.86H160.878V110.884Z" fill="black"/>
<path d="M178.727 110.882C179.529 110.882 180.21 110.225 180.21 109.398V110.882H178.727Z" fill="black"/>
<path d="M187.115 109.424V105.436C187.115 104.634 186.458 103.953 185.631 103.953H181.643C180.841 103.953 180.16 104.61 180.16 105.436V110.883H187.09V109.424H187.115Z" fill="black"/>
<path d="M200.976 109.424V105.436C200.976 104.634 200.319 103.953 199.493 103.953H195.505C194.702 103.953 194.021 104.61 194.021 105.436V110.883H200.952V109.424H200.976Z" fill="black"/>
<path d="M13.8604 112.366V110.883H12.4014C13.2038 110.883 13.8604 111.539 13.8604 112.366Z" fill="black"/>
<path d="M12.4014 117.811C13.2038 117.811 13.8847 117.155 13.8847 116.328V117.811H12.4014Z" fill="black"/>
<path d="M20.7905 110.883H13.8604V117.813H20.7905V110.883Z" fill="black"/>
<path d="M22.2733 110.883H20.79V112.366C20.79 111.539 21.4466 110.883 22.2733 110.883Z" fill="black"/>
<path d="M22.2733 117.811C21.4709 117.811 20.79 117.155 20.79 116.328V117.811H22.2733Z" fill="black"/>
<path d="M43.0644 110.883H47.0523C47.8547 110.883 48.5356 111.539 48.5356 112.366V116.354C48.5356 117.156 47.879 117.837 47.0523 117.837H43.0644C42.2619 117.837 41.5811 117.181 41.5811 116.354V112.366C41.5811 111.539 42.2376 110.883 43.0644 110.883Z" fill="black"/>
<path d="M56.9247 110.883H60.9126C61.7151 110.883 62.3959 111.539 62.3959 112.366V116.354C62.3959 117.156 61.7394 117.837 60.9126 117.837H56.9247C56.1223 117.837 55.4414 117.181 55.4414 116.354V112.366C55.4414 111.539 56.098 110.883 56.9247 110.883Z" fill="black"/>
<path d="M151.005 110.883H147.017C146.215 110.883 145.534 111.539 145.534 112.366V116.354C145.534 117.156 146.191 117.837 147.017 117.837H152.464V110.883H151.005Z" fill="black"/>
<path d="M159.395 110.883H152.465V117.813H159.395V110.883Z" fill="black"/>
<path d="M160.878 110.883H159.395V112.366C159.395 111.539 160.051 110.883 160.878 110.883Z" fill="black"/>
<path d="M160.878 117.811C160.075 117.811 159.395 117.155 159.395 116.328V117.811H160.878Z" fill="black"/>
<path d="M171.796 117.811C172.598 117.811 173.279 117.155 173.279 116.328V117.811H171.796Z" fill="black"/>
<path d="M174.738 110.883C173.936 110.883 173.255 111.539 173.255 112.366V117.813H180.185V110.883H174.738Z" fill="black"/>
<path d="M187.116 116.354C187.116 117.156 186.459 117.837 185.632 117.837H180.186V110.883H187.116V116.354Z" fill="black"/>
<path d="M194.045 116.354C194.045 117.156 194.701 117.837 195.528 117.837H199.516C200.319 117.837 200.999 117.181 200.999 116.354V110.883H194.045V116.354Z" fill="black"/>
<path d="M5.47168 124.741C6.27412 124.741 6.95498 124.085 6.95498 123.258V124.741H5.47168Z" fill="black"/>
<path d="M8.41397 117.812C7.61153 117.812 6.93066 118.469 6.93066 119.296V124.743H13.8609V117.812H8.41397Z" fill="black"/>
<path d="M20.7905 117.812H13.8604V124.743H20.7905V117.812Z" fill="black"/>
<path d="M26.2612 117.812C27.0637 117.812 27.7446 118.469 27.7446 119.296V124.743H20.79V117.812H26.2612Z" fill="black"/>
<path d="M41.5815 123.284V119.296C41.5815 118.493 40.9249 117.812 40.0982 117.812H36.1103C35.3078 117.812 34.627 118.469 34.627 119.296V124.743H41.5571V123.284H41.5815Z" fill="black"/>
<path d="M43.0644 124.741C42.2619 124.741 41.5811 124.085 41.5811 123.258V124.741H43.0644Z" fill="black"/>
<path d="M145.535 123.284V119.296C145.535 118.493 144.878 117.812 144.051 117.812H140.063C139.261 117.812 138.58 118.469 138.58 119.296V124.743H145.51V123.284H145.535Z" fill="black"/>
<path d="M152.465 119.296V117.812H151.006C151.808 117.812 152.465 118.469 152.465 119.296Z" fill="black"/>
<path d="M151.006 124.741C151.808 124.741 152.489 124.085 152.489 123.258V124.741H151.006Z" fill="black"/>
<path d="M147.017 124.741C146.215 124.741 145.534 124.085 145.534 123.258V124.741H147.017Z" fill="black"/>
<path d="M159.395 117.812H152.465V124.743H159.395V117.812Z" fill="black"/>
<path d="M166.325 117.812H159.395V124.743H166.325V117.812Z" fill="black"/>
<path d="M173.254 117.812H166.324V124.743H173.254V117.812Z" fill="black"/>
<path d="M180.185 117.812H173.255V124.743H180.185V117.812Z" fill="black"/>
<path d="M181.669 117.812H180.186V119.296C180.186 118.469 180.842 117.812 181.669 117.812Z" fill="black"/>
<path d="M5.47121 124.746H1.4833C0.656545 124.746 0 125.403 0 126.229V130.217C0 131.02 0.656545 131.701 1.4833 131.701H6.93019V124.746H5.47121Z" fill="black"/>
<path d="M13.8609 130.217C13.8609 131.02 13.2043 131.701 12.3776 131.701H6.93066V124.746H13.8609V130.217Z" fill="black"/>
<path d="M15.3437 124.746H13.8604V126.229C13.8604 125.403 14.5169 124.746 15.3437 124.746Z" fill="black"/>
<path d="M20.791 126.229V124.746H19.332C20.1345 124.746 20.791 125.403 20.791 126.229Z" fill="black"/>
<path d="M27.7202 124.746H20.79V131.676H27.7202V124.746Z" fill="black"/>
<path d="M41.5816 124.746H34.6514V131.676H41.5816V124.746Z" fill="black"/>
<path d="M43.0644 131.673H47.0523C47.8547 131.673 48.5356 131.017 48.5356 130.19V126.202C48.5356 125.4 47.879 124.719 47.0523 124.719H41.5811V131.649H43.0644V131.673Z" fill="black"/>
<path d="M53.9824 131.671C54.7849 131.671 55.4657 131.014 55.4657 130.188V131.671H53.9824Z" fill="black"/>
<path d="M62.3715 130.217V126.229C62.3715 125.427 61.715 124.746 60.8882 124.746H56.9003C56.0979 124.746 55.417 125.403 55.417 126.229V131.676H62.3472V130.217H62.3715Z" fill="black"/>
<path d="M145.534 124.746H138.604V131.676H145.534V124.746Z" fill="black"/>
<path d="M152.464 124.746H145.534V131.676H152.464V124.746Z" fill="black"/>
<path d="M159.395 124.746H152.465V131.676H159.395V124.746Z" fill="black"/>
<path d="M166.325 130.217C166.325 131.02 165.668 131.701 164.841 131.701H159.395V124.746H166.325V130.217Z" fill="black"/>
<path d="M167.808 124.746H166.324V126.229C166.324 125.403 166.981 124.746 167.808 124.746Z" fill="black"/>
<path d="M173.255 126.229V124.746H171.771C172.598 124.746 173.255 125.403 173.255 126.229Z" fill="black"/>
<path d="M180.185 124.746H173.255V131.676H180.185V124.746Z" fill="black"/>
<path d="M200.976 130.217V126.229C200.976 125.427 200.319 124.746 199.493 124.746H195.505C194.702 124.746 194.021 125.403 194.021 126.229V131.676H200.952V130.217H200.976Z" fill="black"/>
<path d="M27.7202 131.676H20.79V138.606H27.7202V131.676Z" fill="black"/>
<path d="M33.1914 138.604C33.9939 138.604 34.6747 137.948 34.6747 137.121V138.604H33.1914Z" fill="black"/>
<path d="M29.204 138.604C28.4016 138.604 27.7207 137.948 27.7207 137.121V138.604H29.204Z" fill="black"/>
<path d="M41.5816 131.676H34.6514V138.606H41.5816V131.676Z" fill="black"/>
<path d="M43.0644 131.676H41.5811V133.159C41.5811 132.332 42.2376 131.676 43.0644 131.676Z" fill="black"/>
<path d="M43.0644 138.604C42.2619 138.604 41.5811 137.948 41.5811 137.121V138.604H43.0644Z" fill="black"/>
<path d="M53.9829 131.676H49.995C49.1926 131.676 48.5117 132.332 48.5117 133.159V137.147C48.5117 137.949 49.1683 138.63 49.995 138.63H55.4419V131.7H53.9829V131.676Z" fill="black"/>
<path d="M62.3716 131.676H55.4414V138.606H62.3716V131.676Z" fill="black"/>
<path d="M137.145 138.604C137.947 138.604 138.604 137.947 138.604 137.145V138.604H137.145Z" fill="black"/>
<path d="M145.534 131.676H138.604V138.606H145.534V131.676Z" fill="black"/>
<path d="M152.464 131.676H145.534V138.606H152.464V131.676Z" fill="black"/>
<path d="M159.395 131.676H152.465V138.606H159.395V131.676Z" fill="black"/>
<path d="M160.878 131.676H159.395V133.159C159.395 132.332 160.051 131.676 160.878 131.676Z" fill="black"/>
<path d="M160.878 138.604C160.075 138.604 159.395 137.948 159.395 137.121V138.604H160.878Z" fill="black"/>
<path d="M171.796 138.604C172.598 138.604 173.279 137.948 173.279 137.121V138.604H171.796Z" fill="black"/>
<path d="M180.185 131.676H173.255V138.606H180.185V131.676Z" fill="black"/>
<path d="M181.669 138.604C180.866 138.604 180.186 137.948 180.186 137.121V138.604H181.669Z" fill="black"/>
<path d="M194.045 137.146C194.045 137.949 194.701 138.629 195.528 138.629H199.516C200.319 138.629 200.999 137.973 200.999 137.146V131.699H194.045V137.146Z" fill="black"/>
<path d="M5.47121 138.605H1.4833C0.656545 138.605 0 139.262 0 140.089V144.077C0 144.879 0.656545 145.56 1.4833 145.56H6.93019V138.605H5.47121Z" fill="black"/>
<path d="M8.41397 145.536H12.4019C13.2043 145.536 13.8852 144.879 13.8852 144.052V140.064C13.8609 139.262 13.2043 138.605 12.4019 138.605H6.93066V145.536H8.41397Z" fill="black"/>
<path d="M20.79 144.077C20.79 144.879 21.4466 145.56 22.2733 145.56H27.7202V138.605H20.79V144.077Z" fill="black"/>
<path d="M34.6509 138.605H27.7207V145.536H34.6509V138.605Z" fill="black"/>
<path d="M41.5816 138.605H34.6514V145.536H41.5816V138.605Z" fill="black"/>
<path d="M43.0644 145.533H47.0523C47.8547 145.533 48.5356 144.876 48.5356 144.049V140.061C48.5356 139.259 47.879 138.578 47.0523 138.578H41.5811V145.508H43.0644V145.533Z" fill="black"/>
<path d="M55.4414 140.089V138.605H53.9824C54.7849 138.605 55.4414 139.262 55.4414 140.089Z" fill="black"/>
<path d="M62.3716 138.605H55.4414V145.536H62.3716V138.605Z" fill="black"/>
<path d="M74.773 138.605H70.7851C69.9826 138.605 69.3018 139.262 69.3018 140.089V144.077C69.3018 144.879 69.9583 145.56 70.7851 145.56H76.232V138.605H74.773Z" fill="black"/>
<path d="M83.1626 138.605H76.2324V145.536H83.1626V138.605Z" fill="black"/>
<path d="M84.6464 145.533H88.6343C89.4367 145.533 90.1176 144.876 90.1176 144.049V140.061C90.1176 139.259 89.4611 138.578 88.6343 138.578H83.1631V145.508H84.6464V145.533Z" fill="black"/>
<path d="M95.5635 145.534C96.3659 145.534 97.0468 144.878 97.0468 144.051V145.534H95.5635Z" fill="black"/>
<path d="M98.5058 138.605C97.7033 138.605 97.0225 139.262 97.0225 140.089V145.536H103.953V138.605H98.5058Z" fill="black"/>
<path d="M110.883 138.605H103.953V145.536H110.883V138.605Z" fill="black"/>
<path d="M117.813 138.605H110.883V145.536H117.813V138.605Z" fill="black"/>
<path d="M124.744 138.605H117.813V145.536H124.744V138.605Z" fill="black"/>
<path d="M131.673 138.605H124.743V145.536H131.673V138.605Z" fill="black"/>
<path d="M138.604 138.605H131.674V145.536H138.604V138.605Z" fill="black"/>
<path d="M145.534 138.605H138.604V145.536H145.534V138.605Z" fill="black"/>
<path d="M152.464 138.605H145.534V145.536H152.464V138.605Z" fill="black"/>
<path d="M159.395 138.605H152.465V145.536H159.395V138.605Z" fill="black"/>
<path d="M166.325 138.605H159.395V145.536H166.325V138.605Z" fill="black"/>
<path d="M173.254 138.605H166.324V145.536H173.254V138.605Z" fill="black"/>
<path d="M180.185 138.605H173.255V145.536H180.185V138.605Z" fill="black"/>
<path d="M187.116 138.605H180.186V145.536H187.116V138.605Z" fill="black"/>
<path d="M192.587 138.605C193.389 138.605 194.07 139.262 194.07 140.089V145.536H187.14V138.605H192.587Z" fill="black"/>
<path d="M195.528 145.534C194.726 145.534 194.045 144.878 194.045 144.051V145.534H195.528Z" fill="black"/>
<path d="M62.3716 145.535H55.4414V152.465H62.3716V145.535Z" fill="black"/>
<path d="M63.8554 152.464C63.0529 152.464 62.3721 151.807 62.3721 150.98V152.464H63.8554Z" fill="black"/>
<path d="M91.5751 145.535C90.7727 145.535 90.0918 146.192 90.0918 147.018V152.465H97.022V145.535H91.5751Z" fill="black"/>
<path d="M103.953 145.535H97.0225V152.465H103.953V145.535Z" fill="black"/>
<path d="M105.436 145.535H103.953V147.018C103.953 146.192 104.61 145.535 105.436 145.535Z" fill="black"/>
<path d="M110.883 147.018V145.535H109.424C110.226 145.535 110.883 146.192 110.883 147.018Z" fill="black"/>
<path d="M117.813 145.535H110.883V152.465H117.813V145.535Z" fill="black"/>
<path d="M119.297 145.535H117.813V147.018C117.813 146.192 118.47 145.535 119.297 145.535Z" fill="black"/>
<path d="M131.674 147.018V145.535H130.19C131.017 145.535 131.674 146.192 131.674 147.018Z" fill="black"/>
<path d="M131.674 151.005C131.674 151.808 132.33 152.489 133.157 152.489H138.604V145.559H131.674V151.005Z" fill="black"/>
<path d="M145.534 145.535H138.604V152.465H145.534V145.535Z" fill="black"/>
<path d="M147.017 145.535H145.534V147.018C145.534 146.192 146.191 145.535 147.017 145.535Z" fill="black"/>
<path d="M166.324 147.018V145.535H164.865C165.668 145.535 166.324 146.192 166.324 147.018Z" fill="black"/>
<path d="M173.254 145.535H166.324V152.465H173.254V145.535Z" fill="black"/>
<path d="M180.185 151.005C180.185 151.808 179.529 152.489 178.702 152.489H173.255V145.559H180.185V151.005Z" fill="black"/>
<path d="M181.669 145.535H180.186V147.018C180.186 146.192 180.842 145.535 181.669 145.535Z" fill="black"/>
<path d="M187.115 147.018V145.535H185.632C186.459 145.535 187.115 146.192 187.115 147.018Z" fill="black"/>
<path d="M194.045 145.535H187.115V152.465H194.045V145.535Z" fill="black"/>
<path d="M199.516 145.535C200.319 145.535 200.999 146.192 200.999 147.018V152.465H194.045V145.535H199.516Z" fill="black"/>
<path d="M62.3716 152.465H55.4414V159.395H62.3716V152.465Z" fill="black"/>
<path d="M69.3023 152.465H62.3721V159.395H69.3023V152.465Z" fill="black"/>
<path d="M76.232 152.465H69.3018V159.395H76.232V152.465Z" fill="black"/>
<path d="M77.7148 159.392H81.7027C82.5052 159.392 83.186 158.735 83.186 157.909V153.921C83.186 153.118 82.5295 152.438 81.7027 152.438H76.2559V159.368H77.7148V159.392Z" fill="black"/>
<path d="M88.6338 159.393C89.4362 159.393 90.1171 158.737 90.1171 157.91V159.393H88.6338Z" fill="black"/>
<path d="M97.022 152.465H90.0918V159.395H97.022V152.465Z" fill="black"/>
<path d="M103.953 152.465H97.0225V159.395H103.953V152.465Z" fill="black"/>
<path d="M105.436 159.393C104.634 159.393 103.953 158.737 103.953 157.91V159.393H105.436Z" fill="black"/>
<path d="M110.883 157.936C110.883 158.738 111.539 159.419 112.366 159.419H116.354C117.156 159.419 117.837 158.763 117.837 157.936V152.465H110.883V157.936Z" fill="black"/>
<path d="M126.226 152.465H130.214C131.017 152.465 131.698 153.121 131.698 153.948V157.936C131.698 158.738 131.041 159.419 130.214 159.419H126.226C125.424 159.419 124.743 158.763 124.743 157.936V153.948C124.743 153.121 125.4 152.465 126.226 152.465Z" fill="black"/>
<path d="M138.604 153.948V152.465H137.145C137.947 152.465 138.604 153.121 138.604 153.948Z" fill="black"/>
<path d="M137.145 159.393C137.947 159.393 138.628 158.737 138.628 157.91V159.393H137.145Z" fill="black"/>
<path d="M145.534 152.465H138.604V159.395H145.534V152.465Z" fill="black"/>
<path d="M153.948 152.465H157.936C158.738 152.465 159.419 153.121 159.419 153.948V157.936C159.419 158.738 158.763 159.419 157.936 159.419H153.948C153.146 159.419 152.465 158.763 152.465 157.936V153.948C152.465 153.121 153.121 152.465 153.948 152.465Z" fill="black"/>
<path d="M173.254 152.465H166.324V159.395H173.254V152.465Z" fill="black"/>
<path d="M174.738 152.465H173.255V153.948C173.255 153.121 173.911 152.465 174.738 152.465Z" fill="black"/>
<path d="M174.738 159.393C173.936 159.393 173.255 158.737 173.255 157.91V159.393H174.738Z" fill="black"/>
<path d="M187.115 157.936C187.115 158.738 187.772 159.419 188.599 159.419H194.045V152.465H187.115V157.936Z" fill="black"/>
<path d="M200.975 152.465H194.045V159.395H200.975V152.465Z" fill="black"/>
<path d="M55.4414 164.865C55.4414 165.667 56.098 166.348 56.9247 166.348H60.9126C61.7151 166.348 62.3959 165.692 62.3959 164.865V159.418H55.4414V164.865Z" fill="black"/>
<path d="M63.8554 159.395H62.3721V160.878C62.3721 160.051 63.0286 159.395 63.8554 159.395Z" fill="black"/>
<path d="M69.3018 160.878V159.395H67.8428C68.6452 159.395 69.3018 160.051 69.3018 160.878Z" fill="black"/>
<path d="M67.8428 166.323C68.6452 166.323 69.3261 165.667 69.3261 164.84V166.323H67.8428Z" fill="black"/>
<path d="M76.232 159.395H69.3018V166.325H76.232V159.395Z" fill="black"/>
<path d="M77.7157 159.395H76.2324V160.878C76.2324 160.051 76.889 159.395 77.7157 159.395Z" fill="black"/>
<path d="M84.6464 159.395C83.8439 159.395 83.1631 160.051 83.1631 160.878V166.325H90.0933V159.395H84.6464Z" fill="black"/>
<path d="M97.022 159.395H90.0918V166.325H97.022V159.395Z" fill="black"/>
<path d="M103.953 159.395H97.0225V166.325H103.953V159.395Z" fill="black"/>
<path d="M109.423 159.395C110.226 159.395 110.907 160.051 110.907 160.878V166.325H103.977V159.395H109.423Z" fill="black"/>
<path d="M124.744 164.866V160.878C124.744 160.075 124.087 159.395 123.26 159.395H119.272C118.47 159.395 117.789 160.051 117.789 160.878V166.325H124.719V164.866H124.744Z" fill="black"/>
<path d="M126.226 166.323C125.424 166.323 124.743 165.667 124.743 164.84V166.323H126.226Z" fill="black"/>
<path d="M137.145 159.395H133.157C132.355 159.395 131.674 160.051 131.674 160.878V164.866C131.674 165.668 132.33 166.349 133.157 166.349H138.604V159.419H137.145V159.395Z" fill="black"/>
<path d="M145.534 159.395H138.604V166.325H145.534V159.395Z" fill="black"/>
<path d="M147.017 166.323C146.215 166.323 145.534 165.667 145.534 164.84V166.323H147.017Z" fill="black"/>
<path d="M164.865 166.323C165.668 166.323 166.349 165.667 166.349 164.84V166.323H164.865Z" fill="black"/>
<path d="M173.254 159.395H166.324V166.325H173.254V159.395Z" fill="black"/>
<path d="M178.726 159.395C179.529 159.395 180.21 160.051 180.21 160.878V166.325H173.279V159.395H178.726Z" fill="black"/>
<path d="M181.669 166.323C180.866 166.323 180.186 165.667 180.186 164.84V166.323H181.669Z" fill="black"/>
<path d="M194.046 160.878V159.395H192.587C193.389 159.395 194.046 160.051 194.046 160.878Z" fill="black"/>
<path d="M200.975 159.395H194.045V166.325H200.975V159.395Z" fill="black"/>
<path d="M67.8433 166.324H63.8554C63.0529 166.324 62.3721 166.981 62.3721 167.808V171.795C62.3721 172.598 63.0286 173.279 63.8554 173.279H69.3023V166.324H67.8433Z" fill="black"/>
<path d="M76.232 166.324H69.3018V173.254H76.232V166.324Z" fill="black"/>
<path d="M83.1631 171.795C83.1631 172.598 83.8196 173.279 84.6464 173.279H90.0933V166.324H83.1631V171.795Z" fill="black"/>
<path d="M97.022 166.324H90.0918V173.254H97.022V166.324Z" fill="black"/>
<path d="M98.5058 166.324H97.0225V167.808C97.0225 166.981 97.679 166.324 98.5058 166.324Z" fill="black"/>
<path d="M103.953 167.808V166.324H102.47C103.296 166.324 103.953 166.981 103.953 167.808Z" fill="black"/>
<path d="M110.883 166.324H103.953V173.254H110.883V166.324Z" fill="black"/>
<path d="M116.354 173.257C117.157 173.257 117.838 172.6 117.838 171.773V173.257H116.354Z" fill="black"/>
<path d="M112.366 173.257C111.564 173.257 110.883 172.6 110.883 171.773V173.257H112.366Z" fill="black"/>
<path d="M124.744 166.324H117.813V173.254H124.744V166.324Z" fill="black"/>
<path d="M126.226 173.255H130.214C131.017 173.255 131.698 172.599 131.698 171.772V167.784C131.698 166.982 131.041 166.301 130.214 166.301H124.743V173.231H126.226V173.255Z" fill="black"/>
<path d="M138.604 167.808V166.324H137.145C137.947 166.324 138.604 166.981 138.604 167.808Z" fill="black"/>
<path d="M145.534 166.324H138.604V173.254H145.534V166.324Z" fill="black"/>
<path d="M152.464 166.324H145.534V173.254H152.464V166.324Z" fill="black"/>
<path d="M159.395 166.324H152.465V173.254H159.395V166.324Z" fill="black"/>
<path d="M166.325 166.324H159.395V173.254H166.325V166.324Z" fill="black"/>
<path d="M173.254 166.324H166.324V173.254H173.254V166.324Z" fill="black"/>
<path d="M180.185 166.324H173.255V173.254H180.185V166.324Z" fill="black"/>
<path d="M181.669 173.255H185.657C186.459 173.255 187.14 172.599 187.14 171.772V167.784C187.14 166.982 186.484 166.301 185.657 166.301H180.186V173.231H181.669V173.255Z" fill="black"/>
<path d="M194.045 171.795C194.045 172.598 194.701 173.279 195.528 173.279H199.516C200.319 173.279 200.999 172.622 200.999 171.795V166.324H194.045V171.795Z" fill="black"/>
<path d="M69.3018 174.737V173.254H67.8428C68.6452 173.254 69.3018 173.91 69.3018 174.737Z" fill="black"/>
<path d="M67.8428 180.186C68.6452 180.186 69.3261 179.53 69.3261 178.703V180.186H67.8428Z" fill="black"/>
<path d="M76.232 173.254H69.3018V180.184H76.232V173.254Z" fill="black"/>
<path d="M77.7157 180.186C76.9133 180.186 76.2324 179.53 76.2324 178.703V180.186H77.7157Z" fill="black"/>
<path d="M90.0927 174.737V173.254H88.6094C89.4361 173.254 90.0927 173.91 90.0927 174.737Z" fill="black"/>
<path d="M90.0918 178.724C90.0918 179.527 90.7483 180.208 91.5751 180.208H95.563C96.3654 180.208 97.0463 179.551 97.0463 178.724V173.277H90.1161V178.724H90.0918Z" fill="black"/>
<path d="M110.883 173.254H103.953V180.184H110.883V173.254Z" fill="black"/>
<path d="M117.813 173.254H110.883V180.184H117.813V173.254Z" fill="black"/>
<path d="M124.744 178.724C124.744 179.527 124.087 180.208 123.26 180.208H117.813V173.277H124.744V178.724Z" fill="black"/>
<path d="M126.226 173.254H124.743V174.737C124.743 173.91 125.4 173.254 126.226 173.254Z" fill="black"/>
<path d="M137.145 180.186C137.947 180.186 138.628 179.53 138.628 178.703V180.186H137.145Z" fill="black"/>
<path d="M145.534 173.254H138.604V180.184H145.534V173.254Z" fill="black"/>
<path d="M147.017 173.254H145.534V174.737C145.534 173.91 146.191 173.254 147.017 173.254Z" fill="black"/>
<path d="M152.465 174.737V173.254H151.006C151.808 173.254 152.465 173.91 152.465 174.737Z" fill="black"/>
<path d="M147.017 180.186C146.215 180.186 145.534 179.53 145.534 178.703V180.186H147.017Z" fill="black"/>
<path d="M152.465 178.724C152.465 179.527 153.121 180.208 153.948 180.208H157.936C158.738 180.208 159.419 179.551 159.419 178.724V173.277H152.465V178.724Z" fill="black"/>
<path d="M160.878 173.254H159.395V174.737C159.395 173.91 160.051 173.254 160.878 173.254Z" fill="black"/>
<path d="M173.255 174.737V173.254H171.771C172.598 173.254 173.255 173.91 173.255 174.737Z" fill="black"/>
<path d="M171.796 180.186C172.598 180.186 173.279 179.53 173.279 178.703V180.186H171.796Z" fill="black"/>
<path d="M180.185 173.254H173.255V180.184H180.185V173.254Z" fill="black"/>
<path d="M181.669 173.254H180.186V174.737C180.186 173.91 180.842 173.254 181.669 173.254Z" fill="black"/>
<path d="M194.045 178.725V174.737C194.045 173.935 193.389 173.254 192.562 173.254H188.574C187.772 173.254 187.091 173.91 187.091 174.737V180.184H194.021V178.725H194.045Z" fill="black"/>
<path d="M195.528 180.186C194.726 180.186 194.045 179.53 194.045 178.703V180.186H195.528Z" fill="black"/>
<path d="M60.9126 180.184H56.9247C56.1223 180.184 55.4414 180.84 55.4414 181.667V185.655C55.4414 186.457 56.098 187.138 56.9247 187.138H62.3716V180.184H60.9126Z" fill="black"/>
<path d="M69.3023 180.184H62.3721V187.114H69.3023V180.184Z" fill="black"/>
<path d="M76.232 180.184H69.3018V187.114H76.232V180.184Z" fill="black"/>
<path d="M81.7027 180.184C82.5052 180.184 83.186 180.84 83.186 181.667V187.114H76.2559V180.184H81.7027Z" fill="black"/>
<path d="M103.953 185.655C103.953 186.457 104.61 187.138 105.436 187.138H110.883V180.184H103.953V185.655Z" fill="black"/>
<path d="M117.813 180.184H110.883V187.114H117.813V180.184Z" fill="black"/>
<path d="M119.297 180.184H117.813V181.667C117.813 180.84 118.47 180.184 119.297 180.184Z" fill="black"/>
<path d="M119.297 187.116C118.494 187.116 117.813 186.46 117.813 185.633V187.116H119.297Z" fill="black"/>
<path d="M130.214 180.184H126.226C125.424 180.184 124.743 180.84 124.743 181.667V185.655C124.743 186.457 125.4 187.138 126.226 187.138H131.673V180.184H130.214Z" fill="black"/>
<path d="M138.604 180.184H131.674V187.114H138.604V180.184Z" fill="black"/>
<path d="M145.534 180.184H138.604V187.114H145.534V180.184Z" fill="black"/>
<path d="M151.005 180.184C151.808 180.184 152.489 180.84 152.489 181.667V187.114H145.559V180.184H151.005Z" fill="black"/>
<path d="M164.865 187.116C165.668 187.116 166.349 186.46 166.349 185.633V187.116H164.865Z" fill="black"/>
<path d="M167.808 180.184C167.005 180.184 166.324 180.84 166.324 181.667V187.114H173.254V180.184H167.808Z" fill="black"/>
<path d="M180.185 180.184H173.255V187.114H180.185V180.184Z" fill="black"/>
<path d="M194.045 180.184H187.115V187.114H194.045V180.184Z" fill="black"/>
<path d="M199.516 180.184C200.319 180.184 200.999 180.84 200.999 181.667V187.114H194.045V180.184H199.516Z" fill="black"/>
<path d="M76.2323 188.597V187.113H74.749C75.5758 187.113 76.2323 187.77 76.2323 188.597Z" fill="black"/>
<path d="M76.2324 192.588C76.2324 193.39 76.889 194.071 77.7157 194.071H81.7036C82.5061 194.071 83.1869 193.414 83.1869 192.588V187.141H76.2567V192.588H76.2324Z" fill="black"/>
<path d="M98.5058 187.113H102.494C103.296 187.113 103.977 187.77 103.977 188.597V192.584C103.977 193.387 103.32 194.068 102.494 194.068H98.5058C97.7033 194.068 97.0225 193.411 97.0225 192.584V188.597C97.0225 187.77 97.679 187.113 98.5058 187.113Z" fill="black"/>
<path d="M110.883 188.597V187.113H109.424C110.226 187.113 110.883 187.77 110.883 188.597Z" fill="black"/>
<path d="M109.424 194.046C110.226 194.046 110.907 193.389 110.907 192.562V194.046H109.424Z" fill="black"/>
<path d="M117.813 187.113H110.883V194.043H117.813V187.113Z" fill="black"/>
<path d="M119.297 194.044H123.285C124.087 194.044 124.768 193.388 124.768 192.561V188.573C124.768 187.771 124.112 187.09 123.285 187.09H117.838V194.02H119.297V194.044Z" fill="black"/>
<path d="M138.604 188.597V187.113H137.145C137.947 187.113 138.604 187.77 138.604 188.597Z" fill="black"/>
<path d="M138.604 192.588C138.604 193.39 139.26 194.071 140.087 194.071H145.534V187.141H138.604V192.588Z" fill="black"/>
<path d="M152.464 187.113H145.534V194.043H152.464V187.113Z" fill="black"/>
<path d="M164.866 187.113H160.878C160.075 187.113 159.395 187.77 159.395 188.597V192.584C159.395 193.387 160.051 194.068 160.878 194.068H166.325V187.138H164.866V187.113Z" fill="black"/>
<path d="M173.254 187.113H166.324V194.043H173.254V187.113Z" fill="black"/>
<path d="M180.185 192.588C180.185 193.39 179.529 194.071 178.702 194.071H173.255V187.141H180.185V192.588Z" fill="black"/>
<path d="M187.115 192.588C187.115 193.39 187.772 194.071 188.599 194.071H194.045V187.141H187.115V192.588Z" fill="black"/>
<path d="M200.975 187.113H194.045V194.043H200.975V187.113Z" fill="black"/>
<path d="M91.5751 194.047H95.563C96.3654 194.047 97.0463 194.703 97.0463 195.53V199.518C97.0463 200.321 96.3898 201.001 95.563 201.001H91.5751C90.7727 201.001 90.0918 200.345 90.0918 199.518V195.53C90.0918 194.703 90.7483 194.047 91.5751 194.047Z" fill="black"/>
<path d="M109.424 194.047H105.436C104.634 194.047 103.953 194.703 103.953 195.53V199.518C103.953 200.321 104.61 201.001 105.436 201.001H110.883V194.047H109.424Z" fill="black"/>
<path d="M117.813 199.518C117.813 200.321 117.156 201.001 116.33 201.001H110.883V194.047H117.813V199.518Z" fill="black"/>
<path d="M119.297 194.047H117.813V195.53C117.813 194.703 118.47 194.047 119.297 194.047Z" fill="black"/>
<path d="M130.214 194.047H126.226C125.424 194.047 124.743 194.703 124.743 195.53V199.518C124.743 200.321 125.4 201.001 126.226 201.001H131.673V194.047H130.214Z" fill="black"/>
<path d="M133.157 200.974H137.145C137.948 200.974 138.628 200.317 138.628 199.491V195.503C138.628 194.7 137.972 194.02 137.145 194.02H131.698V200.95H133.157V200.974Z" fill="black"/>
<path d="M145.534 195.53V194.047H144.051C144.878 194.047 145.534 194.703 145.534 195.53Z" fill="black"/>
<path d="M145.534 199.518C145.534 200.321 146.191 201.001 147.017 201.001H151.005C151.808 201.001 152.489 200.345 152.489 199.518V194.047H145.559V199.518H145.534Z" fill="black"/>
<path d="M166.324 195.53V194.047H164.865C165.668 194.047 166.324 194.703 166.324 195.53Z" fill="black"/>
<path d="M166.324 199.518C166.324 200.321 166.981 201.001 167.808 201.001H171.795C172.598 201.001 173.279 200.345 173.279 199.518V194.047H166.324V199.518Z" fill="black"/>
<path d="M174.738 194.047H173.255V195.53C173.255 194.703 173.911 194.047 174.738 194.047Z" fill="black"/>
<path d="M181.669 194.047H185.657C186.459 194.047 187.14 194.703 187.14 195.53V199.518C187.14 200.321 186.484 201.001 185.657 201.001H181.669C180.866 201.001 180.186 200.345 180.186 199.518V195.53C180.186 194.703 180.842 194.047 181.669 194.047Z" fill="black"/>
<path d="M194.046 195.53V194.047H192.587C193.389 194.047 194.046 194.703 194.046 195.53Z" fill="black"/>
<path d="M194.045 199.518C194.045 200.321 194.701 201.001 195.528 201.001H199.516C200.319 201.001 200.999 200.345 200.999 199.518V194.047H194.045V199.518Z" fill="black"/>
<path d="M1.4833 0C0.656545 0 0 0.656545 0 1.4833V6.95451V13.8604V20.7906V27.7208V34.651V41.5812V47.0524C0 47.8548 0.656545 48.5357 1.4833 48.5357H47.0524C47.8548 48.5357 48.5357 47.8791 48.5357 47.0524V41.5812V34.651V27.7208V20.7906V13.8604V6.9302V1.4833C48.5357 0.680861 47.8791 0 47.0524 0H1.4833ZM41.5812 13.8604V20.7906V27.7208V34.651V40.7301C41.5812 41.1921 41.1921 41.5812 40.7301 41.5812H7.78127C7.31926 41.5812 6.9302 41.1921 6.9302 40.7301V34.651V27.7208V20.7906V13.8604V7.78127C6.9302 7.31926 7.31926 6.9302 7.78127 6.9302H40.7301C41.1921 6.9302 41.5812 7.31926 41.5812 7.78127V13.8604Z" fill="black"/>
<path d="M34.6509 27.7198V20.7896V15.3427C34.6509 14.5402 33.9944 13.8594 33.1676 13.8594H15.3437C14.5169 13.8594 13.8604 14.5159 13.8604 15.3427V20.8139V27.7441V33.2153C13.8604 34.0177 14.5169 34.6986 15.3437 34.6986H33.1919C33.9944 34.6986 34.6753 34.042 34.6753 33.2153V27.7198H34.6509Z" fill="black"/>
<path d="M153.948 0C153.146 0 152.465 0.656545 152.465 1.4833V6.95451V13.8604V20.7906V27.7208V34.651V41.5812V47.0524C152.465 47.8548 153.121 48.5357 153.948 48.5357H199.517C200.32 48.5357 201.001 47.8791 201.001 47.0524V41.5812V34.651V27.7208V20.7906V13.8604V6.9302V1.4833C201.001 0.680861 200.344 0 199.517 0H153.948ZM194.046 13.8604V20.7906V27.7208V34.651V40.7301C194.046 41.1921 193.657 41.5812 193.195 41.5812H160.246C159.784 41.5812 159.395 41.1921 159.395 40.7301V34.651V27.7208V20.7906V13.8604V7.78127C159.395 7.31926 159.784 6.9302 160.246 6.9302H193.195C193.657 6.9302 194.046 7.31926 194.046 7.78127V13.8604Z" fill="black"/>
<path d="M187.116 27.7198V20.7896V15.3427C187.116 14.5402 186.459 13.8594 185.632 13.8594H167.784C166.982 13.8594 166.301 14.5159 166.301 15.3427V20.8139V27.7441V33.2153C166.301 34.0177 166.957 34.6986 167.784 34.6986H185.632C186.435 34.6986 187.116 34.042 187.116 33.2153V27.7198Z" fill="black"/>
<path d="M1.4833 152.462C0.656545 152.462 0 153.118 0 153.945V159.416V166.347V173.277V180.207V187.137V194.067V199.539C0 200.341 0.656545 201.022 1.4833 201.022H47.0524C47.8548 201.022 48.5357 200.365 48.5357 199.539V194.043V187.113V180.183V173.252V166.322V159.392V153.921C48.5357 153.118 47.8791 152.438 47.0524 152.438C47.0524 152.462 1.4833 152.462 1.4833 152.462ZM41.5812 166.322V173.252V180.183V187.113V193.192C41.5812 193.654 41.1921 194.043 40.7301 194.043H7.78127C7.31926 194.043 6.9302 193.654 6.9302 193.192V187.113V180.183V173.252V166.322V160.243C6.9302 159.781 7.31926 159.392 7.78127 159.392H40.7301C41.1921 159.392 41.5812 159.781 41.5812 160.243V166.322Z" fill="black"/>
<path d="M34.6509 180.185V173.255V167.784C34.6509 166.982 33.9944 166.301 33.1676 166.301H15.3437C14.5412 166.301 13.8604 166.957 13.8604 167.784V173.255V180.185V185.657C13.8604 186.459 14.5169 187.14 15.3437 187.14H33.1919C33.9944 187.14 34.6753 186.483 34.6753 185.657V180.185H34.6509Z" fill="black"/>
<rect x="65.8848" y="65.7812" width="69.0717" height="69.2742" fill="url(#pattern0)"/>
<path d="M116.934 74L116.903 88.877H115.581C115.581 88.877 115.238 80.7427 108.375 77.2512C101.473 73.7407 93.6949 75.6446 91.4453 80.0343C90.0218 82.8111 89.8693 87.0553 93.9872 90.7809C95.614 92.2547 97.9653 93.3174 101.066 94.7152C106.703 97.2517 111.336 98.6116 114.176 101.116C116.852 103.476 119.26 106.961 118.974 111.888C118.402 121.977 108.673 126 100.685 126C98.9313 126 97.3426 125.791 96.7833 125.709L97.0375 124.425C97.0375 124.425 99.2681 124.786 100.838 124.703C103.513 124.57 109.982 123.394 111.698 117.929C113.414 112.458 108.616 108.681 107.707 108.03C106.22 107.012 103.755 105.924 97.1011 103.159C90.4476 100.395 84.8744 96.7583 84.3787 89.8258C84.3787 89.8258 84.0991 85.2337 86.9207 81.0906C90.5874 75.7141 95.1184 74 100.704 74C108.521 74 109.645 76.9855 112.988 76.5997C114.628 76.4099 115.841 75.2524 116.382 74H116.934V74Z" fill="black"/>
<path d="M89.1197 122.077C92.4995 122.077 95.2394 119.35 95.2394 115.986C95.2394 112.622 92.4995 109.895 89.1197 109.895C85.7399 109.895 83 112.622 83 115.986C83 119.35 85.7399 122.077 89.1197 122.077Z" fill="black"/>
</g>
<defs>
<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#image01"/>
</pattern>
<clipPath id="clip01">
<rect width="201" height="201" fill="white"/>
</clipPath>
<image id="image01" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWgAAAFoCAYAAAB65WHVAAAACXBIWXMAAITfAACE3wGVyBwzAAAA"/>
</defs>
</svg>
</div>
