<ol class="time-line">
	<li><span class="{% if year == 'now' %} h1 {% else %} h5 {% endif %}">{{ 'general.pages.now' | t  }}</span></li>
	<li><span class="{% if year == '2022' %} h1 {% else %} h5 {% endif %}">2022</span></li>
	<li><span class="{% if year == '2023' %} h1 {% else %} h5 {% endif %}">2023</span></li>
	<li><span class="{% if year == '2024' %} h1 {% else %} h5 {% endif %}">2024</span></li>
	<li><span class="{% if year == '2025' %} h1 {% else %} h5 {% endif %}">2025</span></li>
	<li><span class="{% if year == '2030' %} h1 {% else %} h5 {% endif %}">2030</span></li>
</ol>