<div id="zoom-img">
	<div class="page-width">
		<span class="icon-close"></span>
		<div class="zoom-inner">
			<div class="grid">
				<div class="grid__item col-1 zoom-thumb">
				</div>
				<div class="grid__item col-1">&nbsp;</div>
				<div class="grid__item col-8 zoom-main-container"></div>
				<div class="grid__item col-2">&nbsp;</div>
			</div>
		</div>
	</div>
</div>