<div class="static-pages not-found-page">
	<div class="page-width">
		<div class="grid grid__page">
		    <div class="grid__item col-8 col-md-6 col-small-6 text-center">
			    <h1 class="h2">{{ 'general.404.title' | t }}</h1>
			    <p class="p-medium">{{ 'general.404.desc' | t }}</p>
			    <p>
			      <a href="{{ routes.root_url }}" class="btn_light_second">{{ 'general.404.link' | t }}</a>
			    </p>

		  	</div>
		</div> 
		{% section '404' %} 
			
	</div>
</div>
