<div class="sustainabiliy-radical scientifically-measured-s">
	{% section 'p_scientifically-measured' %}
	{% section 'p_scientifically-measured-block01' %}
	{% comment %}{% section 'p_scientifically-measured-block02' %}
	{% section 'p_scientifically-measured-block03' %}
	{% section 'p_scientifically-measured-block04' %}
	{% section 'p_scientifically-measured-block05' %}{% endcomment %}
	{% section 'p_scientifically-measured-block06' %}
	{% section 'p_scientifically-measured-block07' %}
	{% comment %} {% section 'p_scientifically-measured-block08' %} {% endcomment %} 
</div>
<div class="lastest-post">
{% section 'article_audaciously-sustainable' %}
</div>
