<div class="static-pages">
<div class="page-width {{ page.handle }}">
  <div class="grid grid__page">
     <div class="grid__item col-8 col-md-8 col-small-6">
      <div class="section-header text-center">
        <h1 class="h2">{{ page.title }}</h1>
      </div>

      <div class="rte p-large">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
</div>
