<div class="sustainabiliy-radical">
	{% section 'sustainabiliy-radical_v1' %}
	{% comment %}
	{% section 'sustainabiliy-radical_v1_block1' %}
	{% endcomment %}
	{% section 'radical_our_circular_yarn_v1' %}
	{% section 'sustainabiliy-radical_v1_block2' %}

	{% section 'radical_a_continuing_journey_v1_3' %}
	
	{% section 'sustainabiliy-radical_v1_mix_play' %}
	<div class="block-carbon block-carbon-block-title">
		<div class="page-width">
		<div class="grid">
			<div class="grid__item col-11 col-md-7 ">
				<h2 class="h1 slide-up">
					<span>i am</span>
					{{ 'general.pages.custom_1' | t }}
				</h2>
			</div>
		</div>
		</div>
	</div>
	<div class="all-sections">
		<div class="sticky-title">
			<div class="sticky-title-inner">
				<div class="page-width">
					<div class="col-4 col-md-8">
						<h2 class="h1">{{ 'general.pages.today' | t }}</h2>
					</div>
				</div>
			</div>
		</div>
		{% section 'radical_a_carbon_now_carbon_natural_v1' %}
		{% section 'radical_a_carbon_our_climate_projects_v1' %}
	</div>
	{% section 'radical_a_carbon_v1' %}
	{% section 'radical_a_continuing_journey_v1_2' %}
	{% section 'radical_a_continuing_journey_v1' %}	
</div>
<div class="lastest-post">
{% section 'article_audaciously-sustainable' %}
</div>
