<div class="sustainabiliy-radical people-community">
	{% section 'p_people-community' %}
	{% section 'p_people-community_block01' %}
	{% section 'p_people-community_block02' %}
	
	{% section 'p_people-community_block04' %}	
</div>
<div class="lastest-post">
{% section 'article_audaciously-sustainable' %}
</div>
