{% layout none %}
{% paginate search.results by 1 %}
{% if search.results.size > 0 %}
    {% if search.performed %}
         {% assign product = search.results | first %}
            {% unless product.featured_media == null %}
                <div class="featured-product">
                    <img  class="lazyload" data-src="{{ product.featured_media | img_url: '375x471', crop: "center", scale: 2 }}" src="{{ product.featured_media | img_url: '2x2' }}" alt="{{ product.featured_media.alt }}">
                </div>
            {% endunless %}
            <div class="product-qr-info">
                <div class="page-width">
                    <h1 class="product-card__title h6">{{ product.title }}</h1>
                    {% include 'info', product: product %}
                </div>
                {% assign fields =  product.metafields.saleslayer %}
               
                <div class="qr-blocks">
                    {% section 'qr1' %}
                    {% section 'qr2' %}
                </div>
           
                {% section 'qr-map' %}
                
                {% include 'mixplay', product: product %}
                {% section 'make_it_last' %}
            </div>
    {% endif %}
{% else %}
<script>
    window.location.href = '/pages/traceable-transparent'
</script>    
{% endif %}
{% endpaginate %}
